{#
/**
 * @file chemical.html.twig
 * Default theme implementation to present Sample data.
 *
 * This template is used when viewing Sample pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_chemical()
 *
 * @ingroup themeable
 */
#}
<img{{ attributes }} src="{{ uri }}"/>
